LoginWidget {
    background: white;
    border-radius: 10px;
}

#picture{
	border: 2px solid gray;
    min-width:  164px;
    max-width:  164px;
    min-height: 164px;
    max-height: 164px;
    border-width: 0 0 0 0;
	border-image: url(image/login.png)
}

#tipLable{
	border: 2px solid gray;
    min-height: 14px;
    max-height: 14px;
	font-size: 14px;
	color: red;
    border-width: 0 0 0 0;
}

#username,LoginWidget #password{
    min-width: 160px;
    min-height: 30px;
    font-size: 14px;
    border-radius: 4px;
}

#loginbtn {
    height: 30px;
}