#menubtnwidget, #listbtnwidget{
    background: gray;
    min-width: 200px;
    max-width: 200px;
    padding: 0px;
    background: rgb(73, 80, 95);
}

.ListGroupButton {
    border: 0;
    height: 50px;
    font-size: 16px;
	color: #EEE;
}

.GroupButton, .GroupItemButton {
    color: #BBB;
}

.GroupButton:hover, .GroupItemButton:hover {
    color: #EEE;
}
.GroupButton {
    border: 0;
    height: 50px;
    font-size: 18px;
    text-align: left;
    padding-left: 6px;

    background: rgb(73, 80, 95);
}

.GroupItemButton {
    border: 0;
    height: 50px;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;

    background: rgb(54, 62, 78);
}
.GroupItemButton:checked {
    color: #EEE;
    background: rgb(52, 142, 237);
}